NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_51T4TD3CedoFOFPt29c2zcTXjpSg6huTutW8ZlqgjeDlpex1v7ezgbADjDfANH1AyZ4GfkpC8ttg3XzIOxGxa9NNI00D2vFRysw
STRIPE_SECRET_KEY=your_stripe_secret_key
ANTHROPIC_API_KEY=your_anthropic_api_key
JWT_SECRET=your_jwt_secret_key
DATABASE_URL=file:./prisma/dev.db