# Database
DATABASE_URL="file:./dev.db"

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_live_51T4TD3CedoFOFPt29c2zcTXjpSg6huTutW8ZlqgjeDlpex1v7ezgbADjDfANH1AyZ4GfkpC8ttg3XzIOxGxa9NNI00D2vFRysw"
STRIPE_SECRET_KEY="your_stripe_secret_key_here"
STRIPE_WEBHOOK_SECRET="your_webhook_secret_here"

# Anthropic Claude
ANTHROPIC_API_KEY="your_anthropic_api_key_here"

# Auth
NEXTAUTH_SECRET="your_nextauth_secret_here"
NEXTAUTH_URL="http://localhost:3000"
