# Database
DATABASE_URL="postgresql://user:password@localhost:5432/founderpostai"

# Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here"

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_live_51T4TD3CedoFOFPt29c2zcTXjpSg6huTutW8ZlqgjeDlpex1v7ezgbADjDfANH1AyZ4GfkpC8ttg3XzIOxGxa9NNI00D2vFRysw"
STRIPE_SECRET_KEY="your-stripe-secret-key"
STRIPE_WEBHOOK_SECRET="your-webhook-secret"

# Anthropic Claude
ANTHROPIC_API_KEY="your-anthropic-api-key"