@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900;
}

a {
  @apply text-blue-600 hover:text-blue-700;
}

button:disabled {
  @apply cursor-not-allowed;
}

input:focus,
textarea:focus,
select:focus {
  @apply outline-none;
}

textarea {
  @apply resize-none;
}